.menu-modal
{
    background: #fff;
    
    .header
    {
        height: 30%;
        min-height: 220px;
        position: relative;
        
        .avatar-wrapper
        {
            height: 100%;
        }
        
        .avatar
        {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            bottom: 10px;
        }
        
        .change-profile
        {
            text-transform: none;
            color: #474A4F;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        
    }
    
    .options
    {
        height: 70%;
    }
    
}
